.footer {
    padding: 2rem;
    margin-top: 4rem;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-message {
    font-family: var(--h3-font-family);
    font-size: 1rem;
    font-weight:700;
    color: var(--text-color);
  }
  
  .footer-socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .socials-label {
    font-family: var(--h3-font-family);
    font-size: 1rem;
    font-weight:700;
    color: var(--text-color);
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 5px;
  }
  
  .social-icons a {
    color: var(--text-secondary);
    transition: var(--transition);
  }
  
  .social-icons a:hover {
    color: var(--primary-color);
  }
  
  @media (max-width: 600px) {
    .footer-content {
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      text-align: center;
    }
  }