.hero {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
}

.hero-content {
    flex: 1;
    max-width: 650px;
  }
  
  .hero-name {
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    line-height: 1.2;
  }
  
  .hero-badges {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
  
  .hero-description {
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    line-height: 150%;
  }
  
  .hero-links {
    display: flex;
    align-items: center;
 
  }
  
  .cv-button {
    background-color: var(--background);
    color: #9888D0;
    border: 1px solid #9888D0;
    border-radius: var(--border-radius);
    transition: var(--transition);
    margin-left: 0px;
    margin-right: 32px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1.25rem;
}

  .social-links {
    display: flex;
    gap: 32px;
    margin-left: 0px;
    margin-right: 32px;
  }
  
  .social-links a {

    color: var(--text-secondary);
    transition: var(--transition);
  }
  
  .social-links a:hover {
    color: var(--primary-color);
  }
  
  .hero-image {
    flex: 0 0 35%;
    max-width: 350px;
    transition: var(--transition);
  }
  
  .hero-image:hover {
    transform: translateY(-10px); 
    }

  @media (max-width: 900px) {
    .hero {
      flex-direction: column-reverse;
      text-align: center;
      padding: 2rem 1rem;
    }
  
    .hero-content {
      margin-top: 2rem;
    }
  
    .hero-name {
      font-size: 2.5rem;
    }
  
    .hero-links {
      justify-content: center;
    }
  }