
main {
    flex: 1;
  }
  
  .skills-container {
    display: grid;
    grid-template-columns: 0.51fr 0.35fr;;
    padding:0;
    margin-left: 365px;
    max-width: 1400px;
  }
  
  .background-container {
    background-color: rgba(30, 30, 30, 0.5);
    padding: 4rem 2rem;
    margin-top: 4rem;
  }
  
  @media (max-width: 768px) {
    .skills-container {
      grid-template-columns: 1fr;
      padding: 0 1rem;
    }
    
    .background-container {
      padding: 3rem 1rem;
    }
  }