
main {
    flex: 1;
  }
  
  .skills-container {
    padding:0;
    max-width: 1200px;
    display: flex;
  }
  
  .background-container {
    max-width: 1400px;
    margin-top: 4rem;
    display: flex; 
    justify-content: center; 
    gap: 4rem;
    flex-wrap: wrap; 
    align-items: flex-start;
  }
  
  @media (max-width: 768px) {
    .skills-container {
      grid-template-columns: 1fr;
      padding: 0 1rem;
    }
    
    .background-container {
      padding: 3rem 1rem;
    }
  }