:root {
  --primary-color: #F7FFD1; /* Purple color */
  --primary-dark: #7C3AED;
  --secondary-color: #1E1E1E; /* Dark background */
  --text-color: #EBEBEB;
  --text-secondary: #A1A1AA;
  --background: #121212;
  --card-background: #1E1E1E;
  --border-color: #EBEBEB;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --border-radius: 0.938rem;
  --transition: all 0.3s ease;
  --text-font-family: "Work Sans", sans-serif;
  --text-font-size: 1.125rem;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

img {
  max-width: 100%;
  height: auto;
}

.badge {
  background-color: var(--background);
  color: var(--text-color);
  padding: 0.35rem 1.25rem;
  border: 1px solid var(--text-color);
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 700;
  margin-right: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  display: inline-block;
}

.section-title {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: var(--spacing-sm);
  color: var(--text-color);
}

.divider {
  height: 2px;
  background-color: var(--border-color);
  margin-bottom: var(--spacing-lg);
}

/* Button styles */
.resume-button, .cv-button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  font-weight: 500;
  transition: var(--transition);
}

.resume-button:hover, .cv-button:hover {
  background-color: var(--primary-dark);
  color: white;
}
